  body {
            background-color: #3fbba3;
        }

        .container_login {
            width: 40%;
            /*tamanho que vai ocupar a tela*/
            background-color: #fff;
            margin: 80px auto;
            /*da uma distancia do topo pra baixo*/
            border-radius: 8px;
            /*vai deixar o elemento com a borda arredondada*/
            padding: 20px;
            /*ele vai dar distancia da margem de dentro, vai afastar os elementos da borda do interior*/

            display: flex;
            flex-direction: column;
            /*vai deixar um em baixo do outro*/
            align-items: center;
            /*vai alinhar os elementos na vertical no centro*/
            justify-content: center;
            /*vai alinhar os elementos na horizontal no centro*/
        }

        .login_texto {
            margin-bottom: 20px; /*vai se afastar dos dois elementos, do de cima e do de baixo*/


        }

        .input {
            height: 54px;
            /*altura*/
            width: 100%;
            /*vai ocupar toda a parte da div*/
            box-sizing: border-box;
            /*nao deica o elemento filho ficar maior que o elemento pai*/
            padding-left: 10px;
            /*vai afastar o elemento na parte esqueda. (left é esquerda)*/
            margin-bottom: 20px;
            /*vai se afastar dos dois elementos, do de cima e do de baixo*/
        }

        .button_login {
            width: 100px;
            height: 44px;
            border-radius: 8px;
            color: #fff;
            background-color: #0b847a;
            border: none;
            /*sem borda no elemento*/
            cursor: pointer;
            /*vai deicar o mouse quando passar por cima uma maozinha */
            margin-bottom: 20px; /*vai dar espaço entre o botão e o texto de baixo*/
            margin-top: 20px; /*ele vai afastar os elementos de cima tambem*/
        }

        .button_login:hover {
            background-color: #10c4b5;
            transform: scale(1.05);
            /*para tranformar quando o mouse passa por cima do botao*/
        }

        .container_checkbox {
            align-self: flex-start;
            /*vai fazer o botao voltar pro lado da borda(esquerda), enquanto todos estao centralizados ele nao vai obedcer*/
        }