/*ESTILOS DE CONTAINER*/

.container_inicial {
        width: 100%;
        background-color: #ffe636;

        display: flex;
        flex-direction: column; /*vai deixar um em baixo do outro*/
        align-items: center;
        /*vai alinhar os elementos na vertical no centro*/
        justify-content: center;
        /*vai alinhar os elementos na horizontal no centro*/
        padding: 20px; /*vai dar espaçamento em todos os lado da borda*/
      }

      .container_inicial h1 {
        font-size: 34px;
        font-weight: bold; /*negrito*/
        color: #1A1A2E;
        margin-bottom: 20px; /*vai afastat do elemento de cima*/
      }
      .container_inicial p {
        margin-bottom: 10px; /*vai se afastar do elemento de cima*/
      }
      /*ESTILOS DO MENU*/
       .menu {
            width: 100%;
            /*tamanho na tela que vai ser 100*/
            height: 64px;
            /*altura do elemento*/
            background-color: #181D36;
            padding: 10px;
            /*afasta 10px de todas as margens internas*/

            display: flex;
            /*vao ficar flexiveis*/
            justify-content: space-between;
            /*vao dar espacos iguais entre si*/
            align-items: center;
            /*vai alinhar no centro da vertical*/

        }

        .logo_name {
            font-size: 24px;
            /*tamanho da fonte*/
            font-weight: bold;
            /*negrito*/
            color: #FFE739;
        }

        .menu ul {
            font-size: 18px;
            /*tamanho do texto*/
            color: #fff;

            display: flex;
            /*vai deixar os elementos flexiveis*/
            gap: 10px;
            /*vai aplicar uma margem de 10px em cada filho da div*/
        }

        .carrinho_icone_container {
            width: 50px;
            /*largura que vai ser o icone*/
            height: 50px;
            /*altura que vai ser o icone*/
            background-color: #fff;
            border-radius: 50px;
            /*vai deixar totalmente redondo*/

            display: flex;
            align-items: center;
            /*vai alinhar no centro*/
            justify-content: center;
            /*vai alinhar no centro*/
        }
           .container_direita_menu {
            display: flex;
            gap: 10px;
            /*vai aplicar uma margem de 10px em cada filho da div*/
            align-items: center;
            /*vai alinhar no centro da vertical*/
        }
      