/*ESTILOS DE CONTAINER*/

.container_inicial {
        width: 100%;
        background-color: #ffe636;

        display: flex;
        flex-direction: column; /*vai deixar um em baixo do outro*/
        align-items: center;
        /*vai alinhar os elementos na vertical no centro*/
        justify-content: center;
        /*vai alinhar os elementos na horizontal no centro*/
        padding: 20px; /*vai dar espaçamento em todos os lado da borda*/
      }

      .container_inicial h1 {
        font-size: 34px;
        font-weight: bold; /*negrito*/
        color: #1A1A2E;
        margin-bottom: 20px; /*vai afastat do elemento de cima*/
      }
      .container_inicial p {
        margin-bottom: 10px; /*vai se afastar do elemento de cima*/
      }
      